body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #a1c4fd, #c2e9fb);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  width: 500px;
  max-width: 90%;
}

h1 {
  text-align: center;
  color: #333;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
}

select {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

#perguntas div {
  margin-bottom: 15px;
}

input[type="text"] {
  width: 100%;
  padding: 6px;
  border-radius: 8px;
  border: 1px solid #aaa;
}

.btn {
  background-color: #4facfe;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 15px;
  width: 100%;
}

.btn:hover {
  background-color: #00f2fe;
}

.submit {
  background-color: #43e97b;
}

.submit:hover {
  background-color: #38d39f;
}
